*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	-webkit-font-smoothing: antialiased;
}

body {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 350;
	color: $text-clr-primary;
	font-size: 1.125rem; // 18px
	line-height: 1.6;
	background-image: url(../img/bg.jpg);
	background-size: 100%;
	background-attachment: fixed;
	overflow-x: hidden;
	position: relative;
}

ul,
a,
button,
li,
img,
.btn,
.btn-shadow::after,
.navbar,
.scroll-icon::after,
.menu__section--food {
	transition: 750ms cubic-bezier(0.25, 0.8, 0.25, 1);
	transition-property: background-color, opacity, transform, color, border-radius;
}

.modal,
.modal-overlay,
.modal-content {
	transition: 1s cubic-bezier(0.25, 0.8, 0.25, 1);
	transition-property: opacity, transform;
}

.text-center {
	text-align: center;
}

.text-white {
	color: #fff !important;
}

ul {
	list-style: none;
	padding: 0;
}

input,
select,
option,
textarea {
	@include input;

	&::placeholder {
		font-size: 0.9rem;
	}
}

a {
	color: inherit;
	text-decoration: none;

	&:hover {
		color: inherit;
	}
}

button {
	all: unset;
}

.separator {
	display: inline-block;
	width: 100%;
	height: 1px;
	border-top: 1px dashed $text-clr-primary;
	opacity: 0.3;
	border-radius: 100px;
	margin: 70px 0;
}

.btn {
	position: relative;
	color: #fff;
	background-color: $clr-primary;
	border-radius: 5px;
	font-size: 0.65rem;
	font-weight: 500;
	letter-spacing: 1.8px;
	text-transform: uppercase;

	&:hover,
	&:focus {
		background-color: darken($clr-primary, 5%);
	}

	&-shadow {
		&::after {
			@include shadow(0.9, 7px);
		}
		&:hover::after,
		&:focus::after {
			transform: scaleX(0.8);
		}
	}
}

.btn-lg {
	padding: 18px 35px;
}

.btn-md {
	padding: 15px 25px;
}

.btn-trans {
	background-color: transparent;

	&:hover,
	&:focus {
		color: #fff;
		background-color: $clr-primary;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Playfair Display', serif;
}

.grid {
	display: grid;
}

.flex {
	display: flex;
}

.bg-overlay {
	background-color: darken($text-clr-primary, 4%);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0.6;
	z-index: -1;
}

// NAVBAR
.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	height: 85px;
	background-color: #fff;
	border-radius: $border-radius;
	transform: translateY(18px);
	position: relative;
	box-shadow: $navbar-shadow;
	padding: 0 50px;

	&::after {
		@include shadow;
	}

	.btn-reserve {
		@media screen and (max-width: $mobile-menu) {
			display: none;
		}
	}

	&-logo {
		margin-bottom: 0;
	}
}

.sticky {
	position: fixed;
	z-index: 9999;
	width: 100%;
	padding: 0 15px;
}

.nav-links {
	display: flex;
	align-items: center;
	align-self: stretch;
	gap: 55px;

	font-weight: 700;
	font-size: 0.7rem;
	letter-spacing: 2px;
	margin-bottom: 0;
	text-transform: uppercase;

	@media screen and (max-width: 910px) {
		gap: 35px;
	}

	@media screen and (max-width: $mobile-menu) {
		// display: none;
		width: 100%;
		padding: 20px 0;
		border-radius: 10px;
		flex-direction: column;
		align-self: normal;
		background-color: #fff;
		opacity: 0;
		pointer-events: none;

		position: absolute;
		top: 98px;
		left: 50%;
		transform: translate(-50%, 40px);

		&::after {
			@include shadow;
		}
	}

	li {
		cursor: pointer;
		position: relative;

		&:hover {
			color: $text-clr-primary !important;

			&::after {
				opacity: 1;
			}
		}

		&::after {
			content: '';
			position: absolute;
			bottom: calc(-100% + -17px);
			left: 0;
			width: 100%;
			height: 5px;
			background-color: $clr-primary;

			transition: 750ms cubic-bezier(0.25, 0.8, 0.25, 1);
			transition-property: opacity;
			opacity: 0;

			@media screen and (max-width: $mobile-menu) {
				display: none;
			}
		}
	}
}

// MOBILE MENU
.mobile-toggle {
	display: none;
	cursor: pointer;
	font-size: 1.5rem;
	color: $clr-primary;

	@media screen and (max-width: $mobile-menu) {
		display: flex;
	}
}

// HOME
.section__home {
	position: relative;
	height: 100vh;
	width: 100vw;
	background-image: url(../img/banner-2.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 0 -150px;

	&--flex {
		display: flex;

		&-one {
			flex-basis: 50%;
		}
	}

	.hero__content--message {
		padding-top: 20px;
	}
}

.hero-overlay {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
	z-index: 8;
	background-image: $hero-gradient;
	opacity: 0.8;
}

.hero__content {
	position: relative;
	z-index: 999;
	margin-top: 22vh;

	&--title {
		color: #fff;
		opacity: 0.95;
		font-size: 12vmin;
		// font-size: 5.5rem;
	}

	&--message {
		width: 80%;
		padding-top: 15px;
		color: $text-clr-secondary;
	}

	&--btns {
		margin-top: 36px;
		display: flex;
		gap: 20px;
		// width: max-content;
	}

	&--intro-left {
		@include subtitle;
		color: #fff;

		transform: translateX(45px);

		@include media-breakpoint-down(lg) {
			text-align: center;
			margin: auto;
			transform: translateX(0);
		}

		&::before {
			content: '';
			position: absolute;
			top: 33%;
			left: -45px;
			width: 30px;
			height: 4px;
			padding: 0;
			margin: 0;
			background-color: $clr-primary;
			border-radius: 100px;
		}
	}
}

.hero__slider-nav {
	display: flex;
	height: 100%;
	margin-top: 55px;
	gap: 60px;
	align-items: center;

	&--dots {
		display: flex;
		gap: 12px;
		margin-bottom: 0;

		li {
			height: 12px;
			width: 12px;
			background-color: transparent;
			border: 3px solid #fff;
			border-radius: 50%;
			cursor: pointer;

			&.hero-nav-dot-active {
				border: 3px solid $clr-primary;
				transform: scale(1.08) !important;
			}
		}
	}

	&--arrows {
		display: flex;
		gap: 20px;
		font-size: 1.2rem;
		color: #fff;
		cursor: pointer;
	}
}

.top__section {
	transform: translateY(-4vh);
}

// SECTION CONTAINER
.section__container {
	width: 95%;
	padding: 150px 0 30px;
	margin: auto;
	// margin-bottom: 40vh;
	position: relative;
	z-index: 8;
	background-color: $off-white;
	border-radius: $border-radius;

	&::after {
		@include shadow($top: -10px);
	}

	&::before {
		@include shadow;
	}

	.scroll-icon-bg {
		position: absolute;
		z-index: inherit;
		top: 0;
		left: 50%;
		height: 82px;
		width: 82px;
		transform: translate(-50%, -50%);
		border-radius: 100vw;
		background-color: $off-white;

		// TODO: Fix scroll-icon-bg shadow
		// &::after {
		// 	@include shadow($top: -10px);
		// 	height: 90px;
		// 	width: 90px;
		// }
	}

	.scroll-icon {
		display: block;
		position: absolute;
		top: 15px;
		left: calc(100% - 50px);
		width: 20px;
		height: 35px;
		border: 2px solid $text-clr-primary;
		border-radius: 500px;
		background-color: $off-white;
		cursor: pointer;

		&::after {
			content: '';
			position: absolute;
			top: 5px;
			left: 35%;
			width: 5px;
			height: 5px;
			border-radius: 500px;
			background-color: $text-clr-primary;

			animation: bounce 800ms infinite alternate-reverse;
		}
	}
}

// ABOUT
.about-img {
	max-height: 575px;
	overflow: hidden;
	border-radius: $border-radius-sm;
	box-shadow: $box-shadow;

	img {
		width: 100%;
		transform: translateY(-35%);
	}

	// max-width: 1400px
	@include media-breakpoint-down(xxl) {
		max-height: 100%;

		img {
			width: 100%;
			transform: translateY(0);
		}
	}
}

.about__content {
	padding: 15% 0;

	@include media-breakpoint-down(lg) {
		text-align: center;
		padding: 15% 0 0;
	}

	&--title {
		width: 75%;
		font-size: 3.2rem;

		@include media-breakpoint-down(lg) {
			margin: auto;
		}
	}

	&--message {
		margin-top: 25px;
		width: 80%;

		@include media-breakpoint-down(lg) {
			margin: 25px auto auto;
		}
	}

	&--btns {
		display: flex;
		align-items: center;
		gap: 50px;
		margin-top: 40px;

		@include media-breakpoint-down(lg) {
			justify-content: center;
		}
	}

	&--social {
		display: flex;
		gap: 20px;
		padding-top: 18px;

		font-size: 1.1rem;
		cursor: pointer;

		li {
			&:hover,
			&:focus {
				color: $clr-primary;
			}
		}
	}

	.hero__content--intro-left {
		color: $text-clr-primary;
	}

	.read-more {
		width: max-content;
	}
}

// WHY US
.section__header {
	&--content {
		text-align: center;
	}

	&--subtitle {
		@include subtitle;

		&::before {
			@include subtitle--pseudo;
		}
	}

	&--title {
		font-size: 3rem;
		margin-top: 10px;

		&.reviews {
			margin-top: 0;
		}
	}

	&--message {
		width: 35%;
		margin: auto;
		font-size: 1.15rem;
		margin-top: 35px;

		@media screen and (max-width: 950px) {
			width: 65%;
		}
	}
}

.features__content {
	margin-top: $section-margin;

	.features-img {
		width: 70px;
	}

	&--title {
		font-size: 1.625rem;
		margin-top: 30px;
	}

	&--msg {
		width: 80%;
		margin: auto;
		margin-top: 30px;
	}
}

// TEAM
.card__content {
	margin-top: $section-margin;
	padding-bottom: 8px;
	background-color: #fff;
	text-align: center;
	box-shadow: $card-shadow;
	border-radius: $border-radius-sm;
	overflow: hidden;

	&--img {
		max-height: 400px;
		overflow: hidden;

		@include media-breakpoint-down(lg) {
			max-height: 800px;
		}

		&:hover {
			img {
				transform: scale(1.05) translateY(-50px);

				@include media-breakpoint-down(xl) {
					transform: scale(1.05);
				}
			}
		}

		img {
			width: 100%;
			height: 100%;
			// object-fit: contain;
			transform: translateY(-50px);

			// max-width: 1200px
			@include media-breakpoint-down(xl) {
				transform: translateY(0);
			}
		}
	}

	&--title {
		font-size: 1.5rem;
		margin-top: 30px;

		// max-width: 1200px
		@include media-breakpoint-down(xl) {
			// margin-top: 0;
		}
	}

	&--subtitle {
		margin-top: 15px;

		&.separate {
			position: relative;

			&::after {
				content: '';
				position: absolute;
				top: 150%;
				bottom: 0;
				left: 0;
				right: 0;
				height: 1px;
				border-top: 1px dashed $text-clr-primary;
				opacity: 0.3;

				transform: scaleX(0.75);
			}
		}
	}

	&--social {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
		gap: 20px;

		font-size: 1rem;
		margin-top: 35px;
		cursor: pointer;

		li {
			&:hover,
			&:focus {
				color: $clr-primary;
			}
		}
	}
}

// COUNTING NUMBERS
.numbers {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 180px;
	justify-content: center;
	text-align: center;

	@include media-breakpoint-down(xl) {
		gap: 130px;
	}
}

.numbers__block {
	&--num {
		font-size: 3rem;

		span {
			display: inline-block;
			color: $clr-primary;

			transform: translate(-10px, 5px);

			&.small {
				font-size: 2.3rem;
			}
		}
	}

	&--text {
		font-size: 0.65rem;
		font-weight: 800;
		letter-spacing: 2px;
		text-transform: uppercase;
		margin-top: 25px;
	}
}

// OPENING HOURS
.opening-hours {
	position: relative;

	&--container {
		display: flex;
		align-items: center;
		overflow: hidden;
		background-color: #fff;
		box-shadow: $card-shadow;
		border-radius: $border-radius-sm;

		@include media-breakpoint-down(lg) {
			flex-wrap: wrap;
		}
	}

	&--img {
		position: relative;
		background: url(../img/opening-hours.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;

		flex-basis: 70%;
		padding: 4.375em;
		height: 100%;
		border-radius: $border-radius-sm 0 0 $border-radius-sm;
		overflow: hidden;
		box-shadow: $card-shadow;

		@include media-breakpoint-down(lg) {
			flex-basis: 100%;
		}

		.overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $text-clr-primary;
			opacity: 0.75;
		}
	}

	&--content {
		position: relative;
		z-index: 10;
		color: #fff;
	}

	&--title {
		font-size: 4.25rem;
		opacity: 0.95;

		@include media-breakpoint-down(xl) {
			font-size: 3.2rem;
		}

		@include media-breakpoint-down(lg) {
			text-align: center;
		}
	}

	&--msg {
		margin-top: 30px;

		@include media-breakpoint-down(lg) {
			text-align: center;
		}
	}

	.dual-btns {
		@include media-breakpoint-down(lg) {
			justify-content: center;
		}
	}
}

.opening-hours--time {
	padding: 70px;

	.days-hours {
		display: flex;
		flex-wrap: wrap;
		gap: 50px;
		justify-content: center;
		text-align: center;
	}

	.day {
		font-size: 0.65rem;
		font-weight: 800;
		letter-spacing: 2px;
		text-transform: uppercase;
	}
}

.dual-btns {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	margin-top: 40px;
}

// BUY ONE, GET ONE FREE
// MOBILE APP
.section__no-bg {
	position: relative;
	z-index: 8;
	color: #fff;
	opacity: 0.9;

	.content__no-bg {
		&--title {
			width: 80%;
			font-size: 4.25rem;

			@include media-breakpoint-down(xxl) {
				width: 100%;
			}

			@include media-breakpoint-down(lg) {
				width: 80%;
				text-align: center;
				margin: auto;
			}
		}

		&--msg {
			width: 50%;
			margin-top: 40px;

			@include media-breakpoint-down(xxl) {
				width: 80%;
			}

			@include media-breakpoint-down(lg) {
				text-align: center;
				margin: auto;
				margin-top: 30px;
			}
		}
	}

	&.mobile-app {
		position: relative;
		z-index: 8;
		top: 85px;

		img {
			max-width: 400px;
			object-fit: cover;
			transform: translate(20%, -8%);
		}
	}

	&.bogof {
		margin-top: 90px;

		img {
			max-width: 600px;
			object-fit: cover;
			transform: translate(0, -15%);

			@include media-breakpoint-down(xl) {
				max-width: 500px;
			}
		}
	}

	&--flex {
		display: flex;

		@include media-breakpoint-down(lg) {
			flex-wrap: wrap;
		}

		> * {
			flex-basis: 100%;
		}
	}

	.dual-btns {
		@include media-breakpoint-down(lg) {
			justify-content: center;
		}

		i {
			font-size: 1.1rem;
			margin-right: 10px;
			transform: translateY(2px);
		}
	}
}

.bogof--info-mt {
	margin-top: 3rem;
	opacity: 0.9;

	@include media-breakpoint-down(xl) {
		margin-top: -14px;
	}
}

// MODAL
.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	text-align: center;

	@include media-breakpoint-down(xxl) {
		width: 80%;
	}

	@media screen and (max-width: $modal-bp) {
		width: 95%;
	}

	// @media screen and (max-width: 500px) {
	// 	height: 100vh;
	// }

	.close-modal {
		font-size: 1.3rem;
		position: absolute;
		top: 5%;
		right: 5%;
		z-index: 10;
		color: $text-clr-primary;
		cursor: pointer;
	}

	.reserve-table {
		margin: 20px 0 30px 0;
	}

	&-overlay {
		position: absolute;
		top: 50%;
		height: 100vh;
		width: 100vw;
		transform: translate(-50%, -50%);
		background-image: $modal-overlay;
		z-index: -1;

		transition-delay: 50ms;
		visibility: hidden;
		opacity: 0;
	}

	&-content {
		position: relative;
		padding: 0 50px;
		background-color: $modal-bg;
		border-radius: $border-radius;

		visibility: hidden;
		opacity: 0;
		transform: scale(0.95);

		@media screen and (max-width: 310px) {
			padding: 0 20px;
		}

		&--title {
			position: relative;
			font-size: 2.5rem;
			padding-top: 85px;

			@media screen and (max-width: $modal-bp) {
				font-size: 2rem;
			}

			@media screen and (max-width: 500px) {
				padding-top: 30px;
				font-size: 1.6rem;
			}

			&::before {
				content: '';
				position: absolute;
				top: 50%;
				left: 0;
				height: 4px;
				width: 100%;
				background-color: $clr-primary;
				border-radius: 100px;

				transform: scaleX(0.05);

				@media screen and (max-width: 500px) {
					display: none;
				}
			}
		}

		&--form {
			padding-top: 60px;

			@media screen and (max-width: 500px) {
				padding-top: 10px;
			}

			textarea {
				width: 100%;
				resize: none;
			}
		}

		.msg-wrapper {
			display: grid;
			grid-template-columns: 100%;
		}

		.form-row {
			display: grid;
			grid-template-columns: repeat(3, minmax(10%, 1fr));
			gap: 20px;
			margin-bottom: 20px;

			@media screen and (max-width: 865px) {
				grid-template-columns: 50% 45%;
				row-gap: 20px;
			}
			@media screen and (max-width: 500px) {
				grid-template-columns: 100%;
				row-gap: 10px;
			}
		}
	}
}

// MENU
.menu__section {
	// margin-top: 50%;
	padding: $section-padding;

	&--btns {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 50px;
		font-size: 0.675rem;
		font-weight: 800;
		text-transform: uppercase;
		cursor: pointer;
		margin-top: 40px;
		margin-bottom: 0;
		letter-spacing: 2px;
	}

	.selected {
		background-color: $clr-primary;
		color: #fff;
		padding: 15px 25px;
		border-radius: $border-radius-sm;
	}

	&--food {
		display: flex;
		gap: 50px;
		flex-direction: row;

		// max-width: 992px
		@include media-breakpoint-down(lg) {
			flex-wrap: wrap;
		}
	}

	&--food-list {
		display: flex;
		gap: 55px;
		flex-direction: column;
	}

	&--food-body {
		display: flex;
		gap: 30px;

		@media screen and (max-width: 482px) {
			gap: 20px;
		}
	}
}

.food__item--img {
	width: 120px;
	border-radius: $border-radius-sm;
	overflow: hidden;
	box-shadow: $card-shadow;

	// max-width: 992px
	@include media-breakpoint-down(xl) {
		width: 200px;
	}

	@media screen and (max-width: 482px) {
		display: none;
	}

	&:hover {
		img {
			transform: scale(1.05);
		}
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.food__item--content {
	.food-title {
		font-size: 1.5rem;
	}

	.food-desc {
		width: 80%;
		line-height: 1.5;
		margin-bottom: 0;
		padding-top: 5px;

		@include media-breakpoint-down(xl) {
			width: 100%;
		}
	}
}

.food__item--price {
	.food-price {
		font-weight: 600;
		font-size: 1.3rem;
	}
}

.hidden-food {
	// transform: translateY(-100%) scale(0.95);
	opacity: 0;
	pointer-events: none;
}

[data-target='sides'],
[data-target='drinks'],
[data-target='deserts'] {
	position: absolute;
	// transform: translateY(-100%) scale(0.95);
}

.food-list-wrapper {
	position: relative;
}

// REVIEWS
.reviews__section {
	position: relative;
	padding: 100px 0 60px;
	margin-top: -70px;
}

.reviews__content {
	width: 100%;
	overflow-x: hidden;
	display: flex;
	gap: 40px;

	margin-top: 35px;
	padding: 50px 0;
	position: relative;
}

.quote-icon {
	position: absolute;
	top: -25%;
	right: 35%;
	z-index: 2;

	text-shadow: 0 2px 7px rgb(26 47 51 / 25%);
	font-family: 'Playfair Display', sans-serif;
	font-size: 13rem;
	letter-spacing: -5px;
	color: $clr-primary;

	@include media-breakpoint-down(xl) {
		top: -22%;
	}
}

.content__body {
	position: relative;
	border: 1px dashed darken($text-clr-secondary, 10%);
	border-radius: $border-radius-sm;
	padding: 35px 25px 20px;
	margin: 35px 0;

	flex-shrink: 0;
	// flex-basis: calc(33.33% - 27px);

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		border-radius: $border-radius-sm;
		box-shadow: $card-shadow;

		opacity: 0;
	}

	&.active-test {
		background-color: #fff;
		border: 0;
		overflow: visible;

		&::after {
			opacity: 1;
		}
	}

	&--title {
		font-size: 1.5rem;
	}

	&--msg {
		position: relative;
		margin-top: 30px;

		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: -20px;
			border-top: 1px dashed darken($text-clr-secondary, 10%);
			width: 100%;
		}
	}

	&--user {
		display: flex;
		align-items: center;
		gap: 18px;
		padding-top: 30px;

		.user-img {
			width: 40px;
		}

		img {
			object-fit: cover;
			width: 40px;
			height: 40px;
			border-radius: 50%;
		}

		.username {
			font-weight: 800;
			letter-spacing: 1.5px;
			font-size: 0.715rem;
			margin-bottom: 0;
			text-transform: uppercase;
		}

		.date {
			font-size: 0.85rem;
			margin-bottom: 0;
			padding: 3px 12px;
			font-weight: 400;
			background-color: rgb(224, 224, 224);
			border-radius: 100px;
			margin-left: auto;
		}
	}
}

.reviews__controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
}

.hover-white {
	&:hover {
		color: #fff;
	}
}

.reviews__dots {
	display: flex;
	gap: 8px;
	align-items: center;
	margin-bottom: 0;

	li {
		width: 8px;
		height: 8px;
		background-color: $text-clr-secondary;
		border-radius: 50%;
		cursor: pointer;
	}

	.active-dot {
		border: 3px solid $clr-primary;
		background-color: #fff;
		transform: scale(1.5);
		border-radius: 50%;
	}
}

.slider__nav {
	display: flex;
	gap: 10px;
	align-items: center;

	&--title {
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight: 800;
		font-size: 0.7rem;
		margin-bottom: 0;
	}

	.slider__nav--btns {
		font-size: 1.7rem;
		color: $clr-primary;
		cursor: pointer;
	}
}

.swiper-container {
	width: 100%;
	height: 100%;
}

// COOKING TIPS & RECIPES

.cooking-tips {
	&--container {
		display: flex;
		gap: 40px;
	}

	&--body {
		background-color: #fff;
		border-radius: $border-radius-sm;
		box-shadow: $card-shadow;
		margin-top: 70px;
	}

	&--content {
		padding: 0 30px 25px;
	}

	&--img {
		position: relative;
		width: 100%;
		height: 300px;
		overflow: hidden;
		margin-bottom: 35px;
		border-radius: $border-radius-sm $border-radius-sm 0 0;

		&:hover {
			img {
				transform: scale(1.05);
			}
		}

		.img-category {
			position: absolute;
			top: 12%;
			left: 8%;
			z-index: 2;
			padding: 5px 15px;
			color: $text-clr-primary;
			border-radius: $border-radius-sm;
			text-transform: uppercase;
			letter-spacing: 1.5px;
			font-size: 0.75rem;
			font-weight: 600;

			&.recipe {
				background-color: $clr-recipe;
			}

			&.article {
				background-color: $clr-article;
			}

			&.blog {
				background-color: $clr-blog;
			}
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			overflow: hidden;
		}
	}

	&--footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 70px;

		.footer-msg {
			color: darken($text-clr-primary, 50%);
			margin-bottom: 0;
		}
	}
}

// NEWSLETTER
.newsletter {
	position: relative;
	padding: 90px 0;
	box-shadow: $card-shadow;
	background-image: url(../img/newsletter.jpg);
	background-size: cover;
	background-position: center;
	border-radius: $border-radius-sm;

	.section__header--content {
		color: #fff;
		position: relative;
	}

	.section__header--message {
		width: 100%;
	}

	.section__header--title {
		font-size: 4.25rem;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: darken($clr-primary, 30%);
		opacity: 0.7;
		overflow: hidden;
		border-radius: $border-radius-sm;
	}

	.newsletter-contact {
		position: relative;
		z-index: 2;
		text-align: center;
		margin-top: 40px;
		// margin: auto;

		form {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 15px;
		}

		input {
			flex-basis: 30%;
		}
	}
}

// CONTACT

.contact-form {
	&--body {
		display: flex;
		flex-direction: column;
		gap: 25px;
		margin-top: 50px;

		input,
		textarea {
			flex-basis: 100%;
		}

		.send-btn {
			align-self: center;
		}
	}

	&--name,
	&--tel {
		display: flex;
		gap: 30px;
		justify-content: center;
		align-items: center;
	}

	&--msg {
		textarea {
			width: 100%;
			resize: none;
		}
	}
}

// FOOTER

.footer {
	position: absolute;
	width: 100%;
	color: #fff;
	transform: translateY(25%);

	&-body--top {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.social-links {
			display: flex;
			align-items: center;
			gap: 15px;
			font-size: 1rem;
			margin-bottom: 0;

			a {
				&:hover {
					color: $clr-primary;
				}
			}
		}
	}

	.logo {
		margin-left: 0;
	}

	.separator {
		border-top: 1px dashed #fff;
	}

	.footer-body--bottom {
		display: flex;
		gap: 45px;

		h3 {
			font-size: 1.5rem;
			margin-bottom: 30px;
		}
	}

	.footer-link {
		letter-spacing: 2px;
		padding-top: 35px;
		text-transform: uppercase;
		font-size: 0.65rem;
		color: $clr-article;
		font-weight: 700;
	}
}

.copyright {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;

	p {
		opacity: 0.6;
		font-size: 1rem;
		margin-bottom: 0;
	}

	.footer-link {
		padding-top: 0;
	}
}

.contact-footer {
	// display: flex;
	// flex-direction: row;
	flex-basis: 100%;

	&--links {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		gap: 20px;
		font-size: 1rem;
	}

	&--links-item {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.item-title {
			font-weight: 700;
			letter-spacing: 2px;
			font-size: 0.75rem;
			text-transform: uppercase;
		}
	}
}

.heart {
	animation: pulse 800ms infinite alternate-reverse;
}
