@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@350;400;500;600;700&family=Playfair+Display:wght@900&display=swap');

$text-clr-primary: #1a2f33;
$text-clr-secondary: #dedede;
$clr-primary: hsl(150, 50%, 30%);
$clr-recipe: hsl(2, 100%, 59%);
$clr-article: #f39c12;
$clr-blog: #3498db;
$hero-gradient: linear-gradient(90deg, rgba(19, 35, 37, 1) 0%, rgba(255, 255, 255, 0.073564459963673) 100%);
$modal-bg: #f2f6f7;

$off-white: #fcfcfc;
$content-border: #fff;
