@mixin shadow($sx: 0.95, $top: 10px) {
	content: '';
	position: absolute;
	top: $top;
	left: 0;
	height: 100%;
	width: 100%;
	transform: scaleX($sx);
	background-color: #fff;
	opacity: 0.15;
	border-radius: inherit;
	z-index: -1;
}

@mixin input {
	outline: 0;
	border: 0;
	background-color: #fff;
	padding: 15px 30px;
	border-radius: $border-radius-sm;
	box-shadow: $modal-input-shadow;
	font-size: 0.9rem;
}

@mixin subtitle {
	font-size: 0.7rem;
	letter-spacing: 2.5px;
	font-weight: 700;
	text-transform: uppercase;
	position: relative;
}

@mixin subtitle--pseudo {
	content: '';
	position: absolute;
	top: -20px;
	left: 0;
	right: 0;
	width: 30px;
	margin: auto;
	height: 4px;
	background-color: $clr-primary;
	border-radius: $border-radius;
}

@mixin hero-img {
	position: absolute;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 0 -150px;
	transition-duration: 1500ms;

	@include media-breakpoint-down(xl) {
		background-size: calc(100vw + 100vh);
		background-position: center center;
	}
}
