::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-thumb {
	background-color: $clr-primary;
	border-radius: 2px;
}

::-webkit-scrollbar-track {
	background: #000;
}

::selection {
	color: #fff;
	background: $clr-primary;
}

::-moz-selection {
	color: #fff;
	background: $clr-primary;
}
